{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<title>{% block title %}Uniabuja Health Services | Password changed {% endblock %}</title>
{% block content %}

		<!-- START LOG IN AREA -->
		<section class="user-area-style log-in-area ptb-100"><br/>
			<div class="container">
				<div class="contact-form-action">
					<div class="section-title">
						<h2>Password changed!</h2>
						<p>
							Your password has been successfully changed.
							{% if request.user.doctor %}
								Click <a href="{% url 'doctor:profile' %}"><b>here</b></a> to go back to profile.
							{% else %}
								Click <a href="{% url 'patient:profile' %}"><b>here</b></a> to go back to profile.
							{% endif %}
	  					 </p>
					</div>
					<center>
						<div class="row">
							{% if messages %}
							  {% for message in messages %}
								<span class="alert {{ message.tags }} col-lg-12 " role="alert">
									{{ message|safe }}
								</span>
							  {% endfor %}
							{% endif %}
						</div>
					</center>
				</div>
			</div>
		</section>
		<!-- END LOG IN AREA -->

<script>
setTimeout(() => {
    const alerts = document.querySelectorAll(".alert");
    alerts.forEach(alert => {
        alert.style.display = 'none';
    });
}, 5000);
</script>
{% endblock %}
