{% extends "base.html" %}

{% block title %}Cheaper | Password changed{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
	<div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 testimonial--wrap"><br/>
	  <div class="section-title mb-5">
		  <h3 class="text-center mb-4">
			 Password changed
		  </h3>
		  <hr class="divider"/>
	  </div>
	   <p>Your password has been successfully changed.
	   Redirecting..., or click <a href="{% url 'sellers:profile' %}">here</a> to go back to profile.
	   </p>
	</div>
  </div>
</div>

<script>
setTimeout(function(){
     window.location.href = "{% url 'sellers:profile' %}";
}, 3000);
</script>
{% endblock %}
