{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Cheaper | Reset password{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
	<div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 testimonial--wrap"><br/>
	  <div class="section-title mb-5">
		  <h3 class="text-center mb-4">
			  Reset your password
		  </h3>
		  <hr class="divider"/>
	  </div>
      {% if validlink %}
      <p class="text-center mb-4 search-help">
        Please enter your new password
      </p>
	  <form class="contact-form" method="post">
		  {% csrf_token %}
		<div class="form-group">
		  {% bootstrap_form form %}
			<span class="icon-eye field-icon" id="togglePassword" ></span>
		</div>
		<center>
			<button type="submit" class="btn btn-primary btn-sm">Reset password</button>
		</center>
	  </form>
      {% else %}
        <p>The password reset link is invalid, possibly because it has
          already been used or expired. Please request a new password reset
          <a href="{% url 'sellers:password_reset' %}">token.</a>
        </p>
      {% endif %}
	</div>
  </div>
</div>
<script>
const togglePassword = document.querySelector("#togglePassword");
const new_password1 = document.querySelector("#id_new_password1");
const new_password2 = document.querySelector("#id_new_password2");

togglePassword.addEventListener("click", function () {
	// toggle the type attribute
	const type1 = new_password1.getAttribute("type") === "password" ? "text" : "password";
	const type2 = new_password2.getAttribute("type") === "password" ? "text" : "password";
	new_password1.setAttribute("type", type1);
	new_password2.setAttribute("type", type2);
	// toggle the icon
	this.classList.toggle("icon-eye-slash");
});
</script>
{% endblock %}