{% extends "base.html" %}
{% load static %}

{% block title %}Cheaper | Reset password{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
	<div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 testimonial--wrap"><br/>
	  <div class="section-title mb-5">
		  <h3 class="text-center mb-4">
			 Email sent
		  </h3>
		  <hr class="divider"/>
	  </div>
		<p>
			<strong>We've emailed you instructions for resetting your password.</strong><br/>
			 If you don't receive an email, please make sure you've entered the email you signed up with.<br/>
		  	You will be redirected to the login page shortly.
		</p>
	</div>
  </div>
</div>

<script>
setTimeout(function(){
     window.location.href = "{% url 'sellers:login' %}";
}, 10000);
</script>
{% endblock %}

