{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Cheaper | Reset Password{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
	<div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 testimonial--wrap"><br/>
	  <div class="section-title mb-5">
		  <h3 class="text-center mb-4">
			  Reset your password
		  </h3>
		  <hr class="divider"/>
		  <p class="text-center mb-4 search-help">
            Enter your e-mail to obtain a new password.
		  </p>
	  </div>
	  <form class="contact-form" method="post">
		  {% csrf_token %}
		<div class="form-group">
		  {% bootstrap_form form %}
		</div>
		<center>
			<button type="submit" class="btn btn-primary btn-sm">Get Token</button>
		</center>

	  </form>
	</div>
  </div>
</div>

{% endblock %}