{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Cheaper | Change Password{% endblock %}

{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
	<div class="col-lg-5 order-lg-2 mb-4 mb-lg-0 testimonial--wrap"><br/>
	  <div class="section-title mb-5">
		  <h3 class="text-center mb-4">
			  Change your password
		  </h3>
		  <hr class="divider"/>
	  </div>
	  <form class="contact-form" method="post">
		  {% csrf_token %}
		<div class="form-group">
		  {% bootstrap_form form %}
			<span class="icon-eye field-icon" id="togglePassword" ></span>
		</div>
		<center>
			<button type="submit" class="btn btn-primary btn-sm">Save changes</button>
		</center>

	  </form>
	</div>
  </div>
</div>

<script>
const togglePassword = document.querySelector("#togglePassword");
const old_password = document.querySelector("#id_old_password");
const new_password1 = document.querySelector("#id_new_password1");
const new_password2 = document.querySelector("#id_new_password2");

togglePassword.addEventListener("click", function () {
	// toggle the type attribute
	const type = old_password.getAttribute("type") === "password" ? "text" : "password";
	const type2 = new_password1.getAttribute("type") === "password" ? "text" : "password";
	const type3 = new_password2.getAttribute("type") === "password" ? "text" : "password";
	old_password.setAttribute("type", type);
	new_password1.setAttribute("type", type2);
	new_password2.setAttribute("type", type3);
	// toggle the icon
	this.classList.toggle("icon-eye-slash");
});
</script>
{% endblock %}
