{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<title>{% block title %}Uniabuja Health Services | Appointments {% endblock %}</title>
{% block content %}<br/>
<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <center>
                {% include "main/_message.html" %}
            </center>
            <div class="col-lg-12 col-md-12">
                <div class="cart-wraps">
                    {% if appointment_list.count > 0 %}
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Doctor</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Purpose</th>
                                        <th scope="col">Approved</th>
                                        <th scope="col">Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for appointment in appointment_list %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <b>{{ appointment.doctor }}</b>
                                        </td>

                                        <td class="product-name">
                                            {{ appointment.time }}
                                        </td>

                                        <td class="product-price">
                                            <span class="unit-amount">
                                               {{ appointment.date }}
                                            </span>
                                        </td>

                                        <td class="product-quantity">
                                            <p>
                                                {{ appointment.purpose|truncatechars:40 }}
                                            </p>

                                        </td>

                                        <td class="product-subtotal">
                                            {% if appointment.approved == True %}
                                                Approved <i class="bx bx-check"></i>
                                            {% else %}
                                                Pending
                                            {% endif %}
                                        </td>

                                        <td class="product-subtotal">
                                            {% if appointment.completed == True %}
                                                Completed <i class="bx bx-check"></i>
                                            {% else %}
                                                Not completed
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <center>
                            <h3>You don't have any appointment</h3>
                            <p>
                                <a href="{% url 'patient:book_appointment' %}">
                                    <button type="button" class="default-btn btn-small" style="height:50px">
                                        Book appointment
                                    </button>
                                </a>
                            </p>
                        </center>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
