{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<title>{% block title %}Uniabuja Health Services | Login {% endblock %}</title>
{% block content %}

		<!-- START LOG IN AREA -->
		<section class="user-area-style log-in-area ptb-100"><br/>
			<div class="container">
				<div class="contact-form-action">
					<div class="section-title">
						<h2>Log In to your profile!</h2>
						<p>Please enter your Reg number and password to log in.</p>
					</div>
					<form method="post" action="">
						{% csrf_token %}

						<div class="row">
							<div class="form-group">
								{% bootstrap_form form %}
							</div>
							<div class="col-12">
								<button class="default-btn btn-two" type="submit">
									Log In Now
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- END LOG IN AREA -->

{% endblock %}