{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Uniabuja Health Services | About us{% endblock %}</title>
{% block content %}

		<!-- START ABOUT AREA -->
		<section class="about-area bg-color ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-content mb-0">
							<span class="top-title">About Us</span>
							<h2>We Are University of Abuja Health Services</h2>
							<p>
								It is a pleasure welcoming you to the University of Abuja Health Service (UHS).
								The UHS will continue to provide health care services to the University community and others.
								The services will continue to extend beyond the basic health care and referral for specialist consult.
								The services have been highly subsidized for all the clients across divides.<br/>

								Further, the clients can access health care at UHS either with National Health
								Insurance Scheme (NHIS) [for adult enrolled with or without a spouse as well
								as maximum of four underage children] or Tertiary Institution Social Health
								Insurance Programme (TISHIP) [for students].
							</p>

							<ul>
								<li>
									<i class="bx bx-check"></i>
									General Medical Consultation
								</li>
								<li>
									<i class="bx bx-check"></i>
									Drug dispensing
								</li>
								<li>
									<i class="bx bx-check"></i>
									Registration of Patients
								</li>
								<li>
									<i class="bx bx-check"></i>
									Health Education
								</li>
							</ul>

						</div>
					</div>

					<div class="col-lg-6">
						<div class="about-img">
							<div class="video-wrap">
								<img src="{% static 'images/bg_priority.jpg' %}" alt="image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END ABOUT AREA -->

		<!-- START WHY CHOOSE AREA -->
		<section class="why-choose-area bg-color ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Why Choose Us</span>
					<h2>Why We Are Different</h2>
					<p>
						We believe in consistent excellent healthcare delivery through evidence based care,
						research and innovations.
					</p>
				</div>

				<div class="tab choose-tab">
					<div class="why-choose-wrap">
						<div class="tab_content">
							<div class="tabs_item">
								<div class="row">
									<div class="col-lg-6">
										<div class="why-choose-img bg-1">
											<div class="video-wrap">
												<img src="{% static 'images/ward.jpg' %}" alt="image">
											</div>
										</div>
									</div>

									<div class="col-lg-6">
										<div class="about-content why-choose-content">
											<span class="top-title">Why choose us</span>
											<h2>Tackle The Challenge Of Delivering Health Care</h2>
											<p>
												We deliver high quality evidence based comprehensive primary care in
												divisions of medical practice. We provide health promotional and disease
												prevention services the University community as well as to the general
												public. We also ensure adequate referral support. We deliver health care
												services in keeping with “Learning, Research and Community service”.
												All these are contributing to a better distribution of health outcomes,
												enhanced well being and quality of life of the University community.
											</p>

											<ul>
												<li>
													<i class="bx bx-check"></i>
													Skilled Doctors
												</li>
												<li>
													<i class="bx bx-check"></i>
													Skilled Doctors
												</li>
												<li>
													<i class="bx bx-check"></i>
													Health Education
												</li>
												<li>
													<i class="bx bx-check"></i>
													Health Education
												</li>
											</ul>

											<a class="default-btn" href="{% url 'main:contact' %}">
												Contact Us
											</a>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END WHY CHOOSE AREA -->

		<!-- START DOCTORS AREA -->
		<section class="doctor-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our Doctors</span>
					<h2>Our Expert Doctors</h2>
					<p>We have qualified, dedicated and competent Doctors.</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'images/staffs/abdulkabir_ayanniyi1.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>Dr. ABDULKABIR AYANNIYI</h3>
								<span>Professor and Head</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'images/staffs/dr_okereke_oriaku.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>Dr. OKEREKE ORIAKU OLUCHI</h3>
								<span>Chief Medical Officer (CMO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="single-doctor">
							<img src="{% static 'images/staffs/dr_salihu_ibrahim.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>Dr. SALIHU IBRAHIM AHMED</h3>
								<span>Assistant Chief Medical Officer (ACMO)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END DOCTORS AREA -->

{% endblock %}